.keyboard :global {
  flex-grow: 1;
  padding: 1em 0;

  background-color: #eeeeee;

  .config-box {
    margin: 1em 0;
  }

  input[type=number] {
    width: 4em;
    text-align: right;
  }

  .slide-box {
    width: 10em;
  }

  .btn-key {
    width: 100%;
    display: block;

    span {
      display: block;
    }

    .freq {
      font-size: 0.8em;
    }
  }
}
